body {
    background-image: linear-gradient(white, #3B1A62); 
    bottom: 0px; 
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 18px;
}

h2, p {
    margin: 10px 0px;
}

h3 {
    margin-top: 0px;
    font-size: 14px;
    margin-left: 10px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    padding: 0 7.5vw;
    max-width: 1100px;
}

.item {
    width: 150px;
    height: 175px;
    margin: 15px;
    background-color: white;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.8);
}

.cd {
    width: 155px;
    height: 155px;
    position: relative;
    z-index: -1;
    margin-top: -200px;
}

h3 {
    position: relative;
    z-index: 0;
    margin-top: -35px;
    margin-left: 25px;
}

.album {
    width: 150px;
    height: 150px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    padding: 10px 30px;
    margin: 10px 10px;
    background-image: linear-gradient(rgba(59, 26, 98, 0.1), rgba(59, 26, 98, 0.4));
    border-radius: 15px ;

    input {
        padding: 5px 10px;
        margin: 0px 5px;
        border-radius: 10px ;
        border: none;
    }

    #submit {
        background-image: linear-gradient(rgba(59, 26, 98, 0.6), #3B1A62);
        color: white;
    }
}

#zodiac {
    z-index: -10;
    width: 800px;
    position: fixed;
    bottom: -590px; 
}

.description {
    display: block;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 25px 20px;
    margin-bottom: 205px;

    h2{
        margin: 5px;
    }
}

#help {
    width: 30px;
    position: relative;
}


.overlay {
    position: fixed;
    display: block;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
  
.text{
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    font-size: 1.2em;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;

    width: 80%;
    max-width: 425px;
    height: auto;
    padding: 20px;
    border-radius: 20px;

    h2{
        margin: 5px;
    }

    .text-inside {
        padding: 0px 15px;

        ol li{
            margin-bottom: 10px;
        }

        div p:last-of-type {
            margin-bottom: 15px;
        }
    }
}

.x-container {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 25px;
    width: 20px; 
    height: 20px;
}

.line {
    position: absolute;
    background-color: black; 
    width: 100%;
    height: 1.5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
}

.line2 {
    transform: translateY(-50%) rotate(-45deg);
}