body {
    background-image: linear-gradient(white, #3B1A62); 
    bottom: 0px; 
    background-attachment: fixed;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h2, p {
    margin: 10px 0px;
}

h3 {
    margin-top: 0px;
    font-size: 14px;
    margin-left: 10px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    padding: 0 7.5vw;
    max-width: 1200px;
}

.item {
    width: 160px;
    height: 185px;
    margin: 15px;
    background-color: white;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.8);
}

.cd {
    width: 165px;
    height: 165px;
    position: relative;
    z-index: -1;
    margin-top: -200px;
    margin-left: 75px;
}

h3 {
    position: relative;
    z-index: 2;
    margin-top: -35px;
    margin-left: 25px;
}

.album {
    width: 160px;
    height: 160px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    padding: 10px 30px;
    margin: 12px;
    background-image: linear-gradient(rgba(59, 26, 98, 0.1), rgba(59, 26, 98, 0.4));
    border-radius: 15px ;

    input {
        padding: 5px 10px;
        margin: 0px 5px;
        border-radius: 10px ;
        border: none;
    }

    #submit {
        background-image: linear-gradient(rgba(59, 26, 98, 0.6), #3B1A62);
        color: white;
    }
}

#zodiac {
    z-index: -10;
    width: 800px;
    position: fixed;
    bottom: -590px; 
}

.description {
    display: block;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 25px 20px;
    margin-bottom: 205px;

    h2{
        margin: 5px;
    }
}